body {
    background-image: url(https://images.unsplash.com/photo-1590012314607-cda9d9b699ae?auto=format&fit=crop&q=80&w=2071&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  }
  
.container {
    max-width: 800px;
    margin: 100px auto;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.btn {
    margin-top: 10px;
}

.hasil {
    margin-top: 30px;
}

.detail {
    list-style: none;
    padding: 0;
}

.detail li {
    margin-bottom: 5px;
}
